VITE_API_URL=https://shipzilla-main-production.up.railway.app/api
VITE_APP_SOCKET_URL=https://shipzilla-main-production.up.railway.app
VITE_UI_ONLY_AUTH=true
VITE_PUBLIC_GEOAPIFY_KEY=
VITE_GOOGLE_OAUTH_CLIENT_ID=
